body {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 1.6;
    background-image: linear-gradient(to right, grey, white);
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 25%;
}

.navigation-list {
    display: flex;
    justify-content: left;
    list-style: none;
}

.navigation-list__item {
    margin: 65px 170px 0px 50px;
    display: flex;
    font-size: larger;
}

.navigation-list__item--active {
    text-decoration: none;
}

a {
    color: #0272b3;
}

a:visited {
    /* color: #502846; */
}

a:hover,
a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    /* selected link */
    color: #004579;
}

div {
    text-align: center;
    padding: 2em;
}

.download-resume {
    text-decoration: none;
}

.resume-img {
    display: block;
    margin-top: 20px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.page-footer {
    position: relative;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.social-links {
    margin: 10px 0px 0px 10px;
}

.social-links:hover,
.social-links:focus {
    cursor: pointer;
    opacity: 80%;
}