body {
    background-color: #cedced;
    text-align: center;
    font-family: 'Roboto Mono';
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.middle-section {
    display:inline-flex;
    justify-content: space-evenly;
    
}

.about-me {
    font-size: x-large;
}

.social-icon {
    width: 4rem;
}

#headshot {
    width: 18rem;
    border-radius: 50%;
}