.header {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 60px; */
}

.logo {
  width: 20%;
  transition: transform 0.9s ease-in;
  margin-left: 25px;
  margin-top: 25px;
}

.spin {
  animation: spin 1s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navigation-list {
  display: flex;
  justify-content: left;
  list-style: none;
}

.navigation-list__item {
  margin: 65px 100px 0px 50px;
  display: flex;
  font-size: x-large;
}

.navigation-list__item--active {
  /* No underlining on active page */
  text-decoration: none;
}