/* Colors used:
Body
    - gray to white (linear gradient)
Links
    - #0272b3 (blue)
    - #502846 (purple)
    - gray
*/

body {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 1.6;
    /* Fade body color from left to right */
    background-image: linear-gradient(to right, grey, white);
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 25%;
}

.navigation-list {
    display: flex;
    justify-content: left;
    list-style: none;
}

.navigation-list__item {
    margin: 65px 170px 0px 50px;
    display: flex;
    font-size: larger;
}

.navigation-list__item--active {
    /* No underlining on active page */
    text-decoration: none;
}

a {
    color: #0272b3;
}

a:visited {
    color: #502846;
}

a:hover,
a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    /* Selected link */
    color: gray;
}

div {
    text-align: center;
    padding: 2em;
}

.resume-img {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.page-footer {
    position: bottom;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.social-links {
    margin: 10px 0px 0px 10px;
}

.social-links:hover,
.social-links:focus {
    cursor: pointer;
    opacity: 80%;
}

/*  MEDIA QUERIES */

@media (min-width: 675px) and (max-width: 1000px) {
    body {
        font-size: 16px;
        margin-right: 30px;
    }

    h2 {
        font-size: 25px;
    }

    .logo {
        width: 30%;
    }

    .navigation-list__item {
        margin: 65px 60px 0px 30px;
        display: flex;
        font-size: larger;
    }
}

@media (max-width: 674px) {
    body {
        font-size: 16px;
    }

    h2 {
        font-size: 20px;
    }

    .header {
        display: block;
        text-align: center;
    }

    .logo {
        width: 80%
    }

    .navigation-list {
        display: flex;
        justify-content: center
    }

    .navigation-list__item {
        margin: 0px;
        padding: 20px;
        font-size: 18px;
        text-align: center;
    }
}